<html lang='en'>

    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Streamability</title>
        <!-- Favicon -->
        <link
            rel='shortcut icon'
            type='image/jpg'
            href='./images/favicon.png'
        />
        <!-- Google Fonts -->
        <link rel='preconnect' href='https://fonts.googleapis.com' />
        <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
        <link
            href='https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400&display=swap'
            rel='stylesheet'
        />
        <!-- Font Awesome -->
        <link
            rel='stylesheet'
            href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css'
            integrity='sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=='
            crossorigin='anonymous'
            referrerpolicy='no-referrer'
        />
        <!-- Bulma CSS -->
        <link rel='stylesheet' href='/css/bulma.css' />
        <!-- Project CSS -->
        <link rel='stylesheet' href='/css/style.css' />
    </head>

    <body>
        {{{body}}}
    </body>

</html>