<form id="login-form" class="border-1 bg-gray-400 mx-auto mt-8 w-fit p-6 flex flex-col rounded-md">
    <input type="text" id="email-input" name="email" placeholder="Email" class="border-solid border-2 rounded-sm p-2 m-2 text-white bg-black focus:border-white focus-visible:outline-0 placeholder:text-gray-300">
    <input type="password" id="password-input" name="password" placeholder="Password" class="border-solid border-2 rounded-sm p-2 m-2 text-white bg-black focus:border-white focus-visible:outline-0 placeholder:text-gray-300">
    <span id="err-msg" class="is-hidden text-red text-center">Username or Password is incorrect!</span>
    <button type="submit" id="login-form-btn" class="border-solid border-1 rounded-xl bg-white text-black font-bold m-1 p-1 hover:opacity-75 hover:ring-2 ring-gray-200">Login</button>
</form>

<div id="goto-container" class="mx-auto w-fit">Don't have an account yet? 
    <button id="goto-signup-btn" class="border-solid border-2 border-gray-700 rounded-xl bg-gray-400 m-1 p-1 hover:opacity-75">Sign Up</button>
</div>

<script src="js/login.js"></script>