<form id="signup-form" class="border-1 bg-gray-400 mx-auto mt-8 w-fit p-6 flex flex-col rounded-md">
    <input type="text" id="email-input" name="email" placeholder="Email" class="border-solid border-2 border-black-500 rounded-sm p-2 m-2 text-white bg-black focus-visible:outline-0 placeholder:text-gray-300 focus:border-white">
    <input type="text" id="username-input" name="username" placeholder="Username" class="border-solid border-2 border-black-500 rounded-sm p-2 m-2 text-white bg-black focus-visible:outline-0 placeholder:text-gray-300 focus:border-white">
    <input type="password" id="password-input" name="password" placeholder="Password" class="border-solid border-2 border-black-500 rounded-sm p-2 m-2 text-white bg-black focus-visible:outline-0 placeholder:text-gray-300 focus:border-white">
    <input type="password" id="confirm-password-input" name="confirm-password" placeholder="Confirm Password" class="border-solid border-2 border-black-500 rounded-sm p-2 m-2 text-white bg-black focus-visible:outline-0 placeholder:text-gray-300 focus:border-white">
    <span id="err-msg" class="is-hidden text-red text-center">Invalid sign up credentials!</span>
    <span id="err-msg2" class="is-hidden text-red text-center">This email is already in use!</span>
    <span id="err-msg3" class="is-hidden text-red text-center">This username is already in use!</span>
    <button type="submit" id="signup-form-btn" class="border-solid border-1 rounded-xl bg-white text-black font-bold m-1 p-1 hover:opacity-75 hover:ring-2 ring-gray-200">Sign Up</button>
</form>

<div id="goto-container" class="mx-auto w-fit">Already have an account? 
    <button id="goto-login-btn" class="border-solid border-2 border-gray-700 rounded-xl bg-gray-400 m-1 p-1 hover:opacity-75">Login</button>
</div>

<script src="js/signup.js"></script>