/*
*  html5resetcss
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

nav ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

* {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5;
}


/* BEGIN HTML Element Styles */
a {
    color: hsl(0, 0%, 21%);
}

a:hover {
    color: hsl(171, 100%, 41%);
}

button {
    font-family: 'Josefin Sans', sans-serif;
}

.button {
    border: 0px;
}

/* Thanks to Tim MacDonald for figuring this out! https://codepen.io/timacdonald/pen/EQmQbL */
.button.is-multiline {
    min-height: 2.25em;
    white-space: unset;
    height: auto;
    flex-direction: column;
}

.button.is-multiline.p-2 {
    padding: 1rem!important;
}

#queue-button:hover {
    background-color: hsl(217, 71%, 53%);
    color: white;
}

img {
    border-radius: 15px;
}

/* END HTML Element Styles */


/* BEGIN Class Styles */

.box {
    border-radius: 20px;
}

.float {
    float: left;
}

.message {
    border-radius: 20px;
}

.message-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.notification {
    padding: 1.25rem;
}

.scrolly {
    overflow-y: auto;
}

.title {
    color: #4a4a4a;
}

/* MODAL STYLES */
.modal-content {
    max-height: 75%;
}

/* .modal-content::-webkit-scrollbar {
    display: none;
} */

.result:hover {
    background-color: rgb(211, 209, 209);
    cursor: pointer;
}

#modal-header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.modal-content,
#modal-content-container {
    border-radius: 20px;
}

/* END Class Styles */


/* BEGIN ID Styles */
#form-submit:hover {
    background-color: hsl(171, 100%, 35%);
}

#logo-text a {
    text-decoration: none;
}

#queue-button:hover {
    background-color: hsl(217, 71%, 53%);
    color: white;
}

#search-queue,
#suggestions {
    max-height: 40em;
    overflow-y: auto;
}

#search-queue img,
#suggestions img {
    margin: 1em;
}

#search-results img {
    margin: 1em;
    max-height: 100px;
}

#streamability-title {
    position: relative;
    top: 46%;
}

/* SUGGESTION BOX STYLES */

#suggestion-container .box:hover {
    background-color: #4a4a4a;
    color: white;
}


/* END ID Styles */


/* BEGIN Scrollbar Styles */

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: hsl(348, 100%, 61%);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(348, 100%, 47%)
}

/* END Scrollbar Styles */

/* BEGIN Media Query for Desktop */
@media screen and (max-width: 1024px) {
    body {
        margin: 2rem;
    }
    #header-logo {
        max-width: 150px;
        min-width: 150px;
    }
}
/* END Media Query for Desktop */

/* BEGIN Media Query for Tablet */
@media screen and (max-width: 1024px) {
    #streamability-title {
        top: 33%;
    }
}
/* END Media Query for Tablet */

/* BEGIN Media Query for Mobile */
@media screen and (max-width: 769px) {
    #logo-row div {
        padding: 0;
    }

    #header-logo {
        max-width: 200px;
        min-width: 200px;
    }

    #streamability-title {
        width: 100vw;
        text-align: center;
        top: -25%;
    }
}
/* END Media Query for Desktop */
