/*
*  html5resetcss
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

nav ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

* {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5;
}


/* BEGIN HTML Element Styles */
a {
    color: hsl(0, 0%, 21%);
    -webkit-transition: color .25s ease-out;
    -moz-transition: color .25s ease-out;
    -ms-transition: color .25s ease-out;
    -o-transition: color .25s ease-out;
    transition: color .25s ease-out;
}

a:hover {
    color: hsl(171, 100%, 41%);
}

button {
    font-family: 'Josefin Sans', sans-serif;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

button:hover {
    background-color: rgb(211, 209, 209);
}

.button {
    border: 0px;
}

/* Thanks to Tim MacDonald for figuring this out! https://codepen.io/timacdonald/pen/EQmQbL */
.button.is-multiline {
    min-height: 2.25em;
    white-space: unset;
    height: auto;
    flex-direction: column;
}

.button.is-multiline.p-2 {
    padding: 1rem!important;
}

#queue-button {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

#queue-button:hover {
    background-color: hsl(217, 71%, 53%);
    color: white;
}

img {
    border-radius: 15px;
}

/* END HTML Element Styles */


/* BEGIN Class Styles */

.box {
    border-radius: 20px;
}

.box.button {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.float {
    float: left;
}

.message {
    border-radius: 20px;
}

.message-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.notification {
    padding: 1.25rem;
}

.scrolly {
    overflow-y: auto;
}

.title {
    color: #4a4a4a;
}

/* MODAL STYLES */
.modal-content {
    max-height: 75%;
}

.result {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.result:hover {
    background-color: rgb(211, 209, 209);
    cursor: pointer;
}

.modal-content,
#modal-content-container {
    border-radius: 35px;
    overflow: unset!important;
}

/* BEGIN Color Scheme Styles */
/* Tyler's Colors */
a:hover {
    color: rgba(63, 13, 18, 1)!important;
}

.button.is-primary {
    background-color: rgba(167, 29, 49, 1);
}

.button.is-link.is-light {
    background-color: rgba(167, 29, 49, 1);
    color: #ffffff;
}

.delete-btn,
#delete-all-queue {
    color: rgba(63, 13, 18, 1);
}

#form-submit:hover {
    background-color: rgb(131, 26, 37)!important;
}

#header-logo,
#logo-image-2 {
    filter: invert(5%) sepia(83%) saturate(2300%) hue-rotate(336deg) brightness(111%) contrast(98%);
}

.input {
    color: rgba(63, 13, 18, 1);
}

.is-primary.input {
    border-color: rgba(167, 29, 49, 1);
}

.is-primary.input:active {
    box-shadow: 0 0 0 0.125em rgba(167, 29, 49, .25);
}

.is-primary.input:focus {
    box-shadow: 0 0 0 0.125em rgba(167, 29, 49, .25);
}

.message.is-link .message-header,
.message.is-primary .message-header {
    background-color: rgba(63, 13, 18, 1);
}

.message.is-link .message-body,
.message.is-primary .message-body {
    background-color: rgba(241, 240, 204, 1);
    color: rgba(167, 29, 49, 1);
}

.message.is-link .message-body .button {
    color: rgba(63, 13, 18, 1);
}


.message.is-warning .message-header {
    background-color: rgba(167, 29, 49, 1);
    color: rgba(63, 13, 18, 1);
}

.message.is-warning .message-body {
    background-color: rgba(241, 240, 204, 1);
}

.message.is-warning .message-body .result {
    background-color: rgba(255, 255, 235, 1);
    color: rgba(167, 29, 49, 1);
}


#queue-button:hover {
    background-color: rgb(131, 26, 37)!important;
}

#result-details div{
    background-color: rgba(241, 240, 204, 1);
    color: rgba(167, 29, 49, 1);
}

#result-details #selected-title {
    color: rgba(63, 13, 18, 1);
}

#result-details #selected-score {
    color: rgba(167, 29, 49, 1);
}

#result-details #selected-plot {
    background-color: rgba(255, 255, 235, 1);
    color: rgba(167, 29, 49, 1);
}

#result-details #providers-box,
#result-details #providers-box div {
    background-color: rgba(141, 119, 95, 1);
}

#streamability-title,
#logo-text {
    color: rgba(167, 29, 49, 1);
}

::-webkit-scrollbar-thumb {
    background: rgba(141, 119, 95, 1)!important;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(141, 119, 95, .8)!important;
    color: rgba(63, 13, 18, 1);
}

/* END Color Scheme Styles */

/* END Class Styles */


/* BEGIN ID Styles */
#form-submit {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

#form-submit:hover {
    background-color: hsl(171, 100%, 35%);
}

#logo-image-2 {
    min-width: 89.98px;
    max-width: 89.98px;
}

#logo-text {
    text-decoration: none;
    position: relative;
    top: 46%;
}

#queue-button:hover {
    background-color: hsl(217, 71%, 53%);
    color: white;
}

#search-queue,
#suggestions {
    max-height: 40em;
    overflow-y: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#search-queue2 {
    max-height: 27em;
    overflow-y: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#search-queue img,
#suggestions img {
    margin: 1em;
}

#search-results {
    border-radius: 20px;
}

#search-results img {
    margin: 1em;
    max-height: 100px;
}

#search-results.message-body {
    max-height: 60rem;
}

#selected-providers div {
    min-width: fit-content;
}

#streamability-title {
    position: relative;
    top: 49%;
}

/* SUGGESTION BOX STYLES */

#suggestion-container .box:hover {
    background-color: rgb(211, 209, 209);;
}

/* END ID Styles */


/* BEGIN Scrollbar Styles */

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: hsl(348, 100%, 61%);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(348, 100%, 47%);
}

/* END Scrollbar Styles */

/* BEGIN Media Query for Desktop */
@media screen and (max-width: 1215px) {
    #logo-text {
        top: 35%
    }
    #logo-image-2 {
        min-width: 61.5px;
        max-width: 61.5px;
    }
    
}

/* BEGIN Media Query for Tablet */
@media screen and (max-width: 1023px) {
    body {
        margin: 2rem;
    }
    #header-logo {
        max-width: 150px;
        min-width: 150px;
    }
    #streamability-title {
        top: 36%;
    }
}
/* END Media Query for Tablet */

/* BEGIN Media Query for Mobile */
@media screen and (max-width: 769px) {
    img {
        border-radius: 10px;
    }
    
    #logo {
        justify-content: center!important;
    }

    #logo .pl-3 {
        width: 100vw;
    }
    
    #logo .pl-3 a {
        font-size: 3rem!important;
        position: relative;
        top: -25%;
    }

    #logo-image-2 {
        min-width: 200px;
        max-width: 200px;
    }

    #logo-row div {
        padding: 0;
    }

    #header-logo {
        max-width: 200px;
        min-width: 200px;
    }

    #streamability-title {
        width: 100vw;
        text-align: center;
        top: -25%;
    }

    #modal-content-container {
        margin: 2rem;
    }
}
/* END Media Query for Desktop */
