@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap)
layer(base);
@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
  --color-background: rgb(220 220 220);
  --color-foreground: rgb(184 184 184);
  --color-primary: rgb(184 184 184);
  --color-text: rgb(0 0 0);
}

:root[class='dark'] {
  --color-background: rgb(36 36 36);
  --color-foreground: rgb(63 63 63);
  --color-primary: rgb(63 63 63);
  --color-text: rgb(255 255 255);
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1350px;
  --breakpoint-2xl: 1536px;

  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-primary: var(--color-primary);
  --color-transprimary: var(--color-primary) / 0.5;
  --color-text: var(--color-text);

  --font-sans:
    Inter, Avenir, Helvetica, ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  transition-delay: background-color 5000s, color 5000s;
  -webkit-text-fill-color: var(--color-text);
}

.hidden-bg-scrollbar::-webkit-scrollbar {
  background-color: transparent;
  height: 10px;
}

.hidden-bg-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-background);
  border-radius: 10px;
  padding: 1px;
}
::-webkit-scrollbar {
  width: 10px; 
  height: 10px; 
}

::-webkit-scrollbar-thumb {
  background: var(--color-foreground);
  border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #777; 
}

::-webkit-scrollbar-track {
  background: var(--color-background);
  border-radius: 6px; 
}
/* Inverted corners for carousel tabs
 * https://blog.logrocket.com/how-to-create-fancy-corners-in-css/
*/
#carousel-tab:before {
  content: "";
  position: absolute;
  top: 24px;
  left: -25px;
  height: 25px;
  width: 25px;
  border-bottom-right-radius: 50%;
  background: rgb(var(--color-background));
}

#carousel-tab:before {
  box-shadow: 10px 0 0 0 rgb(var(--color-foreground));
}

#carousel-tab:after {
  content: "";
  position: absolute;
  top: 24px;
  left: 240px;
  height: 25px;
  width: 25px;
  border-top-right-radius: 50%;
  background: var(--color-background);
  transform: rotate(180deg);
}

#carousel-tab:after {
  box-shadow: 10px 0 0 0 var(--color-foreground);
}