@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /*
    TODO: Create light mode theme. Reference #135
    */
    --color-background: 220 220 220; /* #dcdcdc */
    --color-foreground: 255 255 255; /* white */
    --color-primary: 184 184 184; /* #b8b8b8 */
    --color-text: 0 0 0; /* black */
    /* --color-text-light: ; */
    /* --color-text-lighter: ; */
    --color-highlight: 151 71 255; /* #9747ff */
    --color-hlhover: 105 49 178; /* #6931b2 */
  }
  :root[class='dark'] {
    --color-background: 36 36 36; /* #242424 */
    --color-foreground: 78 78 78; /* #4e4e4e */
    --color-primary: 63 63 63; /* #3f3f3f */
    --color-text: 255 255 255; /* white */
    /* --color-text-light: ; */
    /* --color-text-lighter: ; */
  }
}

@layer components {
  .btn {
    @apply bg-highlight py-2 px-4 rounded hover:bg-hlhover
  }
}
