@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 220 220 220;
    --color-foreground: 184 184 184;
    --color-primary: 184 184 184;
    --color-text: 0 0 0;
  }

  :root[class='dark'] {
    --color-background: 36 36 36;
    --color-foreground: 63 63 63;
    --color-primary: 63 63 63;
    --color-text: 255 255 255;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  transition-delay: background-color 5000s, color 5000s;
  -webkit-text-fill-color: var(--color-text);
}

.hidden-bg-scrollbar::-webkit-scrollbar {
  background-color: transparent;
  height: 10px;
}

.hidden-bg-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(var(--color-background));
  border-radius: 10px;
  padding: 1px;
}

#carousel-tab:before {
  content: "";
  position: absolute;
  top: 24px;
  left: -25px;
  height: 25px;
  width: 25px;
  border-bottom-right-radius: 50%;
  background: rgb(var(--color-background));
}

#carousel-tab:before {
  box-shadow: 10px 0 0 0 rgb(var(--color-foreground));
}

#carousel-tab:after {
  content: "";
  position: absolute;
  top: 24px;
  left: 240px;
  height: 25px;
  width: 25px;
  border-top-right-radius: 50%;
  background: rgb(var(--color-background));
  transform: rotate(180deg);
}

#carousel-tab:after {
  box-shadow: 10px 0 0 0 rgb(var(--color-foreground));
}